function Food.new 0
push constant 6
call Memory.alloc 1
pop pointer 0
push argument 3
pop this 2
push argument 1
pop this 0
push argument 2
pop this 1
push argument 0
pop this 4
push pointer 0
push argument 1
push argument 2
call Food.respawn 3
pop temp 0
push pointer 0
return
function Food.getColor 0
push argument 0
pop pointer 0
push this 5
return
function Food.getType 0
push argument 0
pop pointer 0
push this 4
return
function Food.getLife 0
push argument 0
pop pointer 0
push this 3
return
function Food.getX 0
push argument 0
pop pointer 0
push this 0
return
function Food.getY 0
push argument 0
pop pointer 0
push this 1
return
function Food.doFoodStuff 0
push argument 0
pop pointer 0
push this 3
push constant 1
sub
pop this 3
push this 3
push constant 1
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 3
push constant 10
lt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 5
not
pop this 5
label IF_FALSE1
push constant 0
return
function Food.respawn 0
push argument 0
pop pointer 0
push this 2
push this 0
push this 1
call Snake.isTouching 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push this 1
call Drawer.clearCell 2
pop temp 0
label IF_FALSE0
push constant 0
not
pop this 5
push this 4
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 40
pop this 3
label WHILE_EXP0
push this 2
push argument 1
push argument 2
call Snake.isTouching 3
not
if-goto WHILE_END0
push argument 1
push constant 1
add
call Drawer.generateRandomX 1
pop argument 1
push argument 2
push constant 1
add
call Drawer.generateRandomY 1
pop argument 2
goto WHILE_EXP0
label WHILE_END0
goto IF_END1
label IF_FALSE1
push constant 100
pop this 3
label IF_END1
push argument 1
pop this 0
push argument 2
pop this 1
push constant 0
return
