function GameMap.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
push constant 0
not
push constant 3
push constant 10
push argument 0
call Food.new 4
pop this 0
push constant 0
push constant 2
push constant 2
push argument 0
call Food.new 4
pop this 1
push constant 0
pop this 3
push constant 30
pop this 2
push pointer 0
return
function GameMap.getFood 0
push argument 0
pop pointer 0
push this 0
return
function GameMap.poopAlive 0
push argument 0
pop pointer 0
push this 3
return
function GameMap.getPoop 0
push argument 0
pop pointer 0
push this 1
return
function GameMap.reset 0
push argument 0
pop pointer 0
push this 0
push constant 3
push constant 10
call Food.respawn 3
pop temp 0
push constant 0
pop this 3
push constant 30
pop this 2
push constant 0
return
function GameMap.doMapStuff 7
push argument 0
pop pointer 0
push this 0
call Food.getX 1
push this 1
call Food.getX 1
add
pop local 5
push this 0
call Food.getY 1
push this 1
call Food.getY 1
add
pop local 6
push argument 1
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push pointer 0
push argument 1
call GameMap.getCollisionCode 2
pop local 0
push local 0
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push local 0
return
label IF_FALSE1
push this 0
call Food.doFoodStuff 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 0
push local 5
call Drawer.generateRandomX 1
push local 6
call Drawer.generateRandomY 1
call Food.respawn 3
pop temp 0
label IF_FALSE2
push this 2
push constant 1
lt
push argument 1
call Snake.getLength 1
and
push constant 5
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push argument 1
call Snake.getTail 1
pop local 2
push local 2
call Node.getX 1
pop local 3
push local 2
call Node.getY 1
pop local 4
push this 1
push local 3
push local 4
call Food.respawn 3
pop temp 0
push constant 0
not
pop this 3
push constant 30
pop this 2
label IF_FALSE3
push this 3
not
if-goto IF_TRUE4
goto IF_FALSE4
label IF_TRUE4
push this 2
push constant 1
sub
pop this 2
goto IF_END4
label IF_FALSE4
push this 1
call Food.doFoodStuff 1
if-goto IF_TRUE5
goto IF_FALSE5
label IF_TRUE5
push argument 1
push this 1
call Food.getX 1
push this 1
call Food.getY 1
call Snake.isTouching 3
not
if-goto IF_TRUE6
goto IF_FALSE6
label IF_TRUE6
push this 1
call Food.getX 1
push this 1
call Food.getY 1
call Drawer.clearCell 2
pop temp 0
label IF_FALSE6
push constant 30
pop this 2
push constant 0
pop this 3
label IF_FALSE5
label IF_END4
push local 0
return
function GameMap.getCollisionCode 3
push argument 0
pop pointer 0
push constant 0
pop local 0
push argument 1
call Snake.selfCollision 1
push argument 1
call GameMap.checkCollisionWithWall 1
or
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 2
pop local 0
goto IF_END0
label IF_FALSE0
push pointer 0
push argument 1
call GameMap.checkFoodCollision 2
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call Food.getX 1
pop local 1
push this 0
call Food.getY 1
pop local 2
push this 0
push local 1
call Drawer.generateRandomX 1
push local 2
call Drawer.generateRandomY 1
call Food.respawn 3
pop temp 0
push constant 1
pop local 0
label IF_FALSE1
push this 3
push pointer 0
push argument 1
call GameMap.checkPoopCollision 2
and
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop local 0
push constant 0
pop this 3
push constant 30
pop this 2
label IF_FALSE2
label IF_END0
push local 0
return
function GameMap.checkPoopCollision 3
push argument 0
pop pointer 0
push argument 1
call Snake.getHead 1
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 2
call Node.getX 1
push this 1
call Food.getX 1
eq
pop local 0
push local 2
call Node.getY 1
push this 1
call Food.getY 1
eq
pop local 1
push local 0
push local 1
and
return
function GameMap.checkFoodCollision 3
push argument 0
pop pointer 0
push argument 1
call Snake.getHead 1
pop local 2
push local 2
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 2
call Node.getX 1
push this 0
call Food.getX 1
eq
pop local 0
push local 2
call Node.getY 1
push this 0
call Food.getY 1
eq
pop local 1
push local 0
push local 1
and
return
function GameMap.checkCollisionWithWall 7
push argument 0
call Snake.getHead 1
pop local 4
push local 4
push constant 0
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push local 4
call Node.getX 1
pop local 5
push local 4
call Node.getY 1
pop local 6
push local 5
push constant 1
lt
pop local 2
push local 5
push constant 14
gt
pop local 3
push local 6
push constant 1
lt
pop local 0
push local 6
push constant 30
gt
pop local 1
push local 2
push local 3
or
push local 0
or
push local 1
or
return
